<template>
  <div class="row mt-4">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Party</th>
          <th scope="col">Issue date</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <tr repeat.for="quote of quotes">
          <td>${quote.quoteId}</td>
          <td>${quote.quoteName}</td>
          <td>${quote.partyId}</td>
          <td>${quote.issueDate}</td>
          <td>
            <a href="#">Edit</a>
            <!-- <a route-href="route: opportunity-edit; params.bind: { opportunity: opportunity }">Edit</a> | -->
            <a href="#">Delete</a>
            <!-- <a click.delegate="deleteOpportunity(opportunity.id)">Delete</a> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
