$primary-color: #00a59d;
$primary-color-hover: #007972;
$secondary-dark: #1d2125;
$table-dark: #343a40;
$table-light: #454d55;
$secondary-light: #242F32;
$background-color: #DCE0E7;
$color-creamy-white: #F5F5F5;
$white: #ffffff;
$red: #de3032;

$sidebar-width: 340px;
$sidebar-width--widest: 50px;
$icon-width: 100px;
$icon-height: 100px;
$header-height: 56px;
