$primary-color: #00a59d;
$primary-color-hover: #007972;
$secondary-dark: #1D2125;
$secondary-light: #242F32;
$background-color:#DCE0E7;
$color-creamy-white: #F5F5F5;
$white: #ffffff;
$sidebar-width: 300px;
$sidebar-width--widest: 600px;
