@import "variables";

html, body {
  height: 100%;
  background: $background-color;
  font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.aff-mar-header {
  z-index: 1;
  height: 50px;
  background-color: transparent;
}

.wrapper {
  height: 100%;
  display: flex;
}

.menu-toggler {
  margin-top: 0;
  border-radius: 20px;
  width: 35px;
  transition: 0.3s all;
}

.menu-toggler:hover {
  background: $secondary-light;
  opacity: 0.5;
}

.content-wrapper{
  overflow-x: hidden;
}

.active {
  color:red;
}
