.aff-icon {
  width: 50px;
  height: auto;
  color: white;
  margin-left: 8px;
  margin-right: 20px;
  outline: 0 !important;
  background: transparent;
  border: none;
  display: inline-block;
}

.aff-icon__content {
  background-color: transparent;
  height: 50px;
  width: 50px;
}
