@import "src/affiliate-manager/assets/scss/variables";

.aff-icon {
  width: 50px;
  height: auto;
  color: white;
  margin-left: 8px;
  margin-right: 20px;
  outline: 0 !important;
  background: transparent;
  border: none;
  display: inline-block;
}

.aff-icon__content {
  background-color: transparent;
  height: 50px;
  width: 50px;
}


.aff-icon--manage-user, .aff-icon--user-approve {
  border-radius: 20px;
  transition: 0.3s all;
  cursor: pointer;

  &:hover {
    transform: scale(1.5);
    background-color: $primary-color;
  }
}

.aff-icon--user-decline{
  border-radius: 20px;
  transition: 0.3s all;
  margin-top: 10px;
  cursor: pointer;

  &:hover {
    transform: scale(1.5);
    background-color: #a64452 ;
  }
}
