<template>
  <require from="../../general/icons/check/checkIcon"></require>
  <require from="../../general/icons/cross/crossIcon"></require>
  <div class="m-5 text-center">
    <h3 class=" my-5">Approve or disapprove candidates for affiliate partnership</h3>
    <table class="mx-4 table table-striped aff-candidate-table">
      <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Date</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
      <tr repeat.for="user of affCandidates">
        <td>${user.firstName}</td>
        <td>${user.lastName}</td>
        <td>${user.dateTimeCreated}</td>
        <td><a href="mailto:${user.email}">${user.email}</a></td>
        <td>${user.status}</td>
        <td class="aff-partner-table__mange-icon-container">
          <check-icon></check-icon>
          <cross-icon></cross-icon>
        </td>
      </tr>
      </tbody>
    </table>
    <button class="my-4 mx-auto btn aff-system__button--main">Decision history</button>
  </div>
</template>
