<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="css/media.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title><%- htmlWebpackPlugin.options.metadata.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>" />

    <!-- imported CSS are concatenated and added automatically -->
  </head>
  <body aurelia-app="main"></body>
</html>
