<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous">
        <link href="css/media.css" rel="stylesheet">
        <link
            href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900"
            rel="stylesheet">
        <title><%- htmlWebpackPlugin.options.metadata.title %></title>
            <meta name="viewport" content="width=device-width, initial-scale=1"
                />
            <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>" />
            <!-- imported CSS are concatenated and added automatically -->
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
                rel="stylesheet" />
        </head>

        <body>
            <div aurelia-app="main">sss</div>
        </body>

    </html>