<template>
  <div class="container mt-4">
    <h4>Edit opportunity</h4>
    <hr />
    <form role="form" id="opportunityForm" submit.delegate="newOpportunity()">
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">Name</label>
        <input type="text" class="form-control" id="opportunity-name" value="${opportunity.name}">
      </div>
      <div class="form-group">
        <label for="message-text" class="col-form-label">Description</label>
        <textarea class="form-control" id="opportunity-description" value.bind="description"></textarea>
      </div>
      <div class="input-group">
        <label for="message-text" class="col-form-label">Price</label>
        <div class="input-group">
          <input type="text" class="form-control" aria-label="Price" aria-describedby="basic-addon2" value.bind="price">
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2">€</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="message-text" class="col-form-label">Stage</label>
        <select class="form-control" value.bind="stage">
          <option value="New">New</option>
          <option value="Proposition">Proposition</option>
          <option value="Won">Won</option>
        </select>
      </div>
      <div class="modal-footer">
        <a route-href="route: opportunities-list-view">Back to List</a>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
  </div>
</template>
