<template>
  <require from="../../general/page-title/pageTitle"></require>
  <require from="../../general/filter/filter"></require>
  <require from="../../general/alerts/alert"></require>

  <div class="row mt-5">
    <div class="col-sm-8 mx-auto text-center mb-3">
      <page-title
        main-text.one-way="'Affiliate System Settings'">
      </page-title>
    </div>
    <alert
      is-error.two-way="alert"
      alert-type.one-way="'SUCCESS'"
      message.one-way="'Settings are saved'">
    </alert>
    <div class="col-sm-8 mx-auto text-center">
      <form>
        <div class="form-group aff-system-settings__single-input">
          <label class="" for="frequency">Frequency of commission payments:</label>
          <select id="frequency" class="mx-auto form-control border aff-system-settings__pay-frequency"
                  value.bind="paymentFrequency">
            <option repeat.for="option of possibleFrequency"
                    model.bind="option">
              ${option}
          </select>
        </div>
        <div class="form-group aff-system-settings__single-input">
          <label class="" for="multilevelAff">Multilevel Affiliate System:</label>
          <select id="multilevelAff" class="mx-auto form-control border aff-system-settings__multilevel-aff"
                  value.bind="multiLevelAff">
            <option repeat.for="option of possibleMultiLevel"
                    model.bind="option">
              ${option}
          </select>
        </div>
        <div class="form-group aff-system-settings__single-input">
          <label class="" for="codeInCookies">Affiliate code is stored in cookies for (weeks):</label>
          <input type="number" id="codeInCookies" class="mx-auto form-control border aff-system-settings__cookie-dur"
                 min="1" placeholder="1" max="50" value.bind="codeInCookieDuration">
        </div>
      </form>
    </div>
    <div class="col-md-9 mx-auto d-flex justify-content-center">
      <button click.trigger="saveGlobalSettings()" class="my-4 btn aff-system__button--main w-50">Save Global Settings</button>
    </div>
    <div class="col-md-7 mx-auto text-center mt-4 mb-1">
      <p>Product Category Related:</p>
      <table class="table table-striped table-dark table-bordered table-hover mx-3">
        <thead>
        <tr>
          <th scope="col">Category</th>
          <th scope="col">Commission (%)</th>
          <th scope="col">Discount (%)</th>
        </tr>
        </thead>
        <tbody>
        <tr class="aff-member-table__row" repeat.for="category of productCategories">
          <td class="align-middle">${category['categoryName']}</td>
          <td class="align-middle">
            <input type="number" class="mx-auto form-control border aff-admin__category-commissions w-25"
                   change.delegate="saveCommission(category['productCategoryId'], category['commission'])"
                   min="0" step="1" max="99" value.bind="category['commission']">
          </td>
          <td class="align-middle">
            <input type="number" class="mx-auto form-control border aff-admin__category-commissions w-25"
                   min="0" step="1" max="99"
                   change.delegate="saveDiscounts(category['productCategoryId'], category['discount'])"
                   value.bind="category['discount']">
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
