<template>
  <div class="row">

    <div class="col-8">
      <div class="row">
        <h1>Opportunities</h1>
        <img class="ml-3" src="./../assets/img/favorite.svg" alt="fave">
        <div>
          <button type="button" class="btn btn-secondary mt-2 ml-3" data-toggle="modal" href="#opportunityModal">Add new opportunity</button>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="dropdown float-right">
        <input class="form-control mt-2" type="text" placeholder="Filter" aria-label="Search">

        <div class="modal fade" id="opportunityModal" tabindex="-1" role="dialog"
          aria-labelledby="opportunityModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="opportunityModalLabel">Add new opportunity</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form role="form" id="opportunityForm">
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Name</label>
                    <input type="text" class="form-control" id="opportunity-name" value.bind="name">
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="col-form-label">Description</label>
                    <textarea class="form-control" id="opportunity-description" value.bind="description"></textarea>
                  </div>
                  <div class="input-group">
                    <label for="message-text" class="col-form-label">Price</label>
                    <div class="input-group">
                      <input type="text" class="form-control" aria-label="Price" aria-describedby="basic-addon2"
                        value.bind="price">
                      <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">€</span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="col-form-label">Stage</label>
                    <select class="form-control" value.bind="stage">
                      <option value="new" selected>New</option>
                      <option value="proposition">Proposition</option>
                      <option value="won">Won</option>
                    </select>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" click.delegate="newOpportunity()"
                      data-dismiss="modal">Save</button>
                      <button type="button" class="btn btn-primary" click.delegate="newOpportunity()"
                              data-dismiss="modal">
                        <a style="color: #ffffff; text-decoration: none" route-href="route: opportunity-edit; params.bind: { name: name, description: description, price: price, stage: stage}">
                          Save and edit
                        </a>
                      </button>

                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
