<template>
  <require from="../../../commons/workspaces-menu/workspace-favourite"></require>
  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between col-12">
    <span class="navbar-brand mb-0 h1">Companies</span>
    <workspace-favourite class="float-left mx-2"></workspace-favourite>
    <button type="button" class="btn btn-outline-dark" data-toggle="modal" href="#addContact">
      <i class="fa fa-plus"></i>
      New company
    </button>
    <div class="form-inline col-6">
      <input type="text" value.bind="filters[0].value" placeholder="Search..." class="form-control" style="width:100%"/>
    </div>
    <!-- TODO: Add js from resource-list.js -->
    <div class="dropdown">
      <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-filter"></i>
        Filter
      </button>
      <div class="dropdown-menu" style="width: 300px;">
        <form class="px-4 py-3">
          <div class="form-group">
            <label for="filtername">Company name</label>
            <input type="text" class="form-control" id="filtername">
          </div>
          <div class="form-group">
            <label for="filtercode">Company code</label>
            <input type="text" class="form-control" id="filtercode">
          </div>
          <div class="form-group">
            <label class="mr-sm-2" for="filterstatus">Status</label>
            <select class="custom-select mr-sm-2" id="filterstatus">
              <option selected value="inRegistry">Registrisse kantud</option>
              <option value="notInRegistry">Pole registris</option>
              <option value="unknown">Teadmata</option>
            </select>
          </div>
          <div class="form-group">
          </div>
          <button class="btn btn-primary" click.delegate="filterResource()">Filter</button>
        </form>
      </div>
    </div>
    <button type="button" class="btn btn-outline-dark">
      Import contacts
    </button>
  </nav>

  <div class="modal fade" id="addContact" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">ADD CONTACT</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form role="form" submit.delegate="submitData()">
            <div class="form-group">
              <label for="company">Company name</label>
              <input type="text" value.bind="company" class="form-control">
            </div>
            <div class="form-group">
              <label for="code">Company code</label>
              <input type="text" value.bind="code" class="form-control">
            </div>
            <div class="form-group">
              <label for="active">Status</label>
              <input type="text" value.bind="active" class="form-control">
            </div>
            <div class="form-group">
              <label for="address">Address</label>
              <input type="text" value.bind="address" class="form-control">
            </div>
            <div class="form-group">
              <label for="city">City</label>
              <input type="text" value.bind="city" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>


