<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between col-12">
    <span class="navbar-brand mb-0 h1">Companies</span>
    <button type="button" class="btn btn-outline-dark" data-toggle="modal" href="#addContact">
      <i class="fa fa-plus"></i>
      New company
    </button>
    <div class="form-inline col-6">
      <input type="text" value.bind="filters[0].value" placeholder="Search..." class="form-control" style="width:100%"/>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-outline-dark">
        <i class="fa fa-filter"></i>
        Filter
      </button>
      <button type="button" class="btn btn-outline-dark">
        Import
      </button>
    </div>
  </nav>
</template>


