@import "src/affiliate-manager/assets/scss/utils";
@import "src/affiliate-manager/assets/scss/variables";
@import "src/affiliate-manager/assets/scss/buttons";

.aff-become-partner-img-area {
  margin-top: -50px;
  overflow-x: hidden;
}

.aff-become-partner-img-area--img {
  margin-top: -100px;
}

.aff-become-partner--sumbit__wrapper {
  margin-top: -200px;
  width: 100%;
}

.aff-become-partner__motivator {
  text-align: center;
  border-radius: 10px;
}

.aff-become-partner__alert {
  text-align: center;
  transition: 0.3s all;
  position: absolute;
  width: 350px;
  top: 300px;
  left: calc(50% - 175px);
  z-index: 1;
}

.aff-become-partner__alert--hidden {
  display: none;
}

.aff-become-partner__alert-cross-icon {
  background: transparent;
  border: none;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;

  &:active {
    outline: none;
  }

  &:focus {
    outline: none;
  }
}

.aff-become-partner__alert-cross-icon--hidden {
  cursor: default;
}

.become-partner__description{
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .aff-become-partner-img-area--img {
    margin-top: -10px;
    margin-left: -200px;
    max-height: 400px;
  }

  .aff-become-partner--sumbit__wrapper {
    margin-top: 20px;
  }

  .become-partner--sumbit__motivator {
    background-color: transparent;
    color: black;
  }

  .aff-become-partner__description{
    margin-top: 20px;
  }

}
