<template>
  <div class="row mt-4">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Status</th>
        <th scope="col">Total sum</th>
        <th scope="col">Last Edited</th>
        <th scope="col"></th>
      </tr>
      </thead>

      <tbody>
      <tr repeat.for="order of orders">
        <td>${order.orderId}</td>
        <td>${order.status}</td>
        <td>${order.totalSum} ${order.currencyUom}</td>
        <td>${timeConverter(order.lastUpdatedStamp)}</td>
        <td>
          <a style="text-decoration: none" route-href="route: order-edit; params.bind: { order: order}">Edit</a> |
          <a style="color: #007bff; cursor: pointer" click.trigger="deleteOrder(order.orderId, $index)">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>
