<template>
  <div class="row mt-4">
    <div class="col-4" repeat.for="company of companies">
      <div class="card" style="height: 12rem; margin-bottom: 20px;">
        <div class="card-body">
          <div class="row">
            <div class="col h-25 w-75">
              <h5>${company.companyName}</h5>
            </div>
          </div>
          <p class="card-text">Company code: ${company.registryCode}</p>
          <p class="card-text">Status: ${company.companyStatus}</p>
          <p class="card-text">Address: ${company.companyAddress}, ${company.city}</p>
        </div>
      </div>
    </div>
  </div>
</template>
