<template>
  <div class="container aff-all-affiliates">
    <h3 class=" mt-5 aff-all-affiliates__main-header">Here you can find information about all affiliate partners</h3>
    <div class="col aff-all-affiliates__search-container">
      <label for="selectFilter">Choose filter to search by and start the search</label>
      <div class="input-group my-4">
        <select id="selectFilter" class=" custom-select col-3 aff-all-affiliates__select--filter" value.bind="selectedFilter">
          <option model.bind=null>Choose</option>
          <option class="option" repeat.for="key of allKeys"
                  model.bind="key">
            ${key}
          </option>
        </select>

        <input type="text" class="form-control aff-all-affiliates__select--input" placeholder="Enter filter text"
               class="form-control" input.delegate="getFilteredValues($event.target.value)"/>
      </div>

      <div>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Date</th>
            <th>Email</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
          <tr repeat.for="user of filteredValues">
            <td>${user.firstName}</td>
            <td>${user.lastName}</td>
            <td>${user.dateTimeCreated}</td>
            <td><a href="mailto:${user.email}">${user.email}</a></td>
            <td>${user.status}</td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</template>
