<template>
  <require from="../../general/icons/manage/manageIcon"></require>
  <require from="../../general/icons/icon"></require>
  <require from="../../general/page-title/pageTitle"></require>
  <require from="../../general/filter/filter"></require>

  <div class="row flex-column mx-3 text-center mt-5">
    <div class="col-md-9 mx-auto">
      <page-title
        main-text.one-way="'Here you can find information about all affiliate partners'">
      </page-title>
    </div>
    <div class="col-md-9 mx-auto my-3">
      <filter
        values-to-filter.one-way="allAffiliatePartners"
        options.one-way="allAffiliatesOptions"
        callback.call="setFilteredValues($event)"
        id.one-way="'Admin-All-Affiliates'"
      >
      </filter>
    </div>
    <div class="col-md-9 mx-auto table-responsive-md text-center">
      <table class="table table-striped table-dark table-bordered table-hover">
        <thead>
        <tr>
          <th
            class="align-middle"
            scope="col"
          >
            First name
          </th>
          <th
            scope="col"
            class="align-middle"
          >
            Last name
          </th>
          <th
            scope="col"
            class="align-middle"
          >
            Date
          </th>
          <th
            scope="col"
            class="align-middle"
          >
            Email
          </th>
          <th
            scope="col"
            class="align-middle"
          >
            Status
          </th>
        </tr>
        </thead>
        <tbody>
        <tr class="aff-member-table__row" repeat.for="user of filteredValues">
          <td class="align-middle">${user['firstName']}</td>
          <td class="align-middle">${user['lastName']}</td>
          <td class="align-middle"> ${user['dateTimeCreated']}</td>
          <td class="align-middle"><a href="mailto:${user['email']}">${user['email']}</a></td>
          <td class="align-middle">${user['status']}</td>
          <td class="aff-table__action-icon">
            <icon
              click.trigger="managePartner(user['email'])">
              <manage-icon></manage-icon>
            </icon>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
