<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between col-12">
    <span class="navbar-brand mb-0 h1">Orders</span>
    <img src="../../../assets/img/favorite.svg" alt="fave">
    <button type="button" class="btn btn-outline-dark" data-toggle="modal">
      <img src="../../../assets/img/add.svg" alt="">
      <a style="color: #000000; text-decoration: none" route-href="route: order-edit">New order</a>
    </button>
    <div class="form-inline col-6">
      <input class="form-control" type="search" placeholder="Search Orders..." aria-label="Search" style="width:100%" value.bind="searchId" change.delegate="search()">
    </div>
    <button type="button" class="btn btn-outline-dark" data-toggle="modal" href="#filterModal">
      Order Filter
    </button>
    <button type="button" class="btn btn-outline-dark">
      <img src="../../../assets/img/favourite.svg" alt="">
      Order Favourites
    </button>
  </nav>
  <div class="dropdown float-right">
    <div class="modal fade" id="orderModal" tabindex="-1" role="dialog"
         aria-labelledby="orderModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="orderModalLabel">Add new order</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form role="form" id="orderForm" submit.delegate="newOrder()">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Order ID</label>
                <input type="text" class="form-control" id="orderId" value.bind="orderId">
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Order name</label>
                <input type="text" class="form-control" id="orderName" value.bind="orderName">
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Billing Account ID</label>
                <input type="text" class="form-control" id="billingAccountId" value.bind="billingAccountId">
              </div>
              <div class="input-group">
                <label for="message-text" class="col-form-label">Price</label>
                <div class="input-group">
                  <input type="text" class="form-control" aria-label="Price" aria-describedby="basic-addon2"
                         value.bind="grandTotal">
                </div>
                <div class="input-group">
                  <label for="message-text" class="col-form-label">Currency</label>
                  <div class="input-group">
                    <input type="text" class="form-control" aria-label="Price" aria-describedby="basic-addon2"
                           value.bind="currencyUom">
                  </div>
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Sales Channel</label>
                  <select class="form-control" value.bind="salesChannelEnumId">
                    <option value="EMAIL_SALES_CHANNEL">E-Mail</option>
                    <option value="PHONE_SALES_CHANNEL">Phone</option>
                    <option value="FAX_SALES_CHANNEL">Fax</option>
                    <option value="WEB_SALES_CHANNEL">Web</option>
                  </select>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" click.delegate="newOrder()"
                          data-dismiss="modal">Save changes</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="filterModal" tabindex="1" role="dialog"
       aria-labelledby="filterModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="filterModalLabel">Filter</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form role="form" id="filterForm">
            <div class="form-group row">
              <label for="recipient-name" class="col-form-label col-sm-3">Grand total</label>
              <input type="text" class="form-control col-sm-3" value.bind="filter.price">
              <button class="form-control col-sm-1" click.delegate="toggleClickPrice()">
                <span if.bind="priceToggle === 'equal'">=</span>
                <span if.bind="priceToggle === 'greater'">+</span>
                <span if.bind="priceToggle === 'lower'">-</span>
              </button>
            </div>
            <div class="form-group row">
              <label for="message-text" class="col-form-label col-sm-3">Status</label>
              <select class="form-control col-sm-3" value.bind="filter.statusId">
                <option value="ORDER_CREATED">Created</option>
                <option value="ORDER_APPROVED">Approved</option>
                <option value="ORDER_COMPLETED">Completed</option>
              </select>
            </div>
            <div class="form-group row">
              <label for="message-text" class="col-form-label col-sm-3">Sales channel</label>
              <select class="form-control col-sm-2" value.bind="filter.salesChannelEnumId">
                <option value="EMAIL_SALES_CHANNEL">E-Mail</option>
                <option value="PHONE_SALES_CHANNEL">Phone</option>
                <option value="FAX_SALES_CHANNEL">Fax</option>
                <option value="WEB_SALES_CHANNEL">Web</option>
              </select>
            </div>
            <div class="form-group row">
              <label for="recipient-name" class="col-form-label col-sm-3">Date created</label>
              <input type="text" class="form-control col-sm-3" value.bind="filter.date" placeholder="DD/MM/YYYY">
              <button class="form-control col-sm-1" click.delegate="toggleClickDate()">
                <span if.bind="dateToggle === 'greater'">+</span>
                <span if.bind="dateToggle === 'lower'">-</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" click.delegate="applyFilter()"
                      data-dismiss="modal">Filter</button>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
