<template>
  <require from="marketdata/components/search/searchbar"></require>
  <require from="marketdata/components/modal/new-modal/newModalButton"></require>

    <searchbar></searchbar>

    <newModalButton></newModalButton>

  <div class="btn-group" role="group">
    <button class="btn btn-light"><a href="mailto:${selectedCompanies}"><i class="fa fa-envelope"></i></a></button>
    <div class="dropdown">
      <button class="btn btn-light dropdown-toggle" type="button" id="filterTableSector" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        Sector
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <label repeat.for="sector of sectors">
          <input
            type="checkbox"
            value.bind="sector"
            checked.bind="selectedSectors">
          ${sector}
        </label>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-light dropdown-toggle" type="button" id="filterTableStatus" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        Status
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <label repeat.for="status of statuses">
          <input
            type="checkbox"
            value.bind="status"
            checked.bind="selectedStatuses">
          ${status}
        </label>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-light dropdown-toggle" type="button" id="filterTableBusinessModel" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        Business model
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <label repeat.for="model of models">
          <input
            type="checkbox"
            value.bind="model"
            checked.bind="selectedModels">
          ${model}
        </label>
      </div>
      <button type="button" class="btn btn-link">Clear all filters</button>
    </div>
  </div>
  </div>

  <table class="table table-hover" aurelia-table="data.bind: companies; display-data.bind: $displayData;
                                              current-page.bind: currentPage; page-size.bind: pageSize; total-items.bind: totalItems; filters.bind: filters">
    <thead>
    <tr>
      <th>Select</th>
      <th>Company name</th>
      <th>Company code</th>
      <th>Status</th>
      <th>Address</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr repeat.for="company of $displayData" click.delegate="handleClick(company, $event)"
        aut-select="row.bind: company; custom.bind: true; mode: multiple; selected-class: info">
      <td><input type="checkbox" model.bind="company.contactEmail" checked.bind="selectedCompanies"/></td>
      <td data-toggle="modal" data-target="#detailedCompany" style="color:#007bff">${company.companyName}</td>
      <td>${company.registryCode}</td>
      <td>${company.companyStatus}</td>
      <td>${company.companyAddress}</td>
      <td>
        <button class="btn btn-primary" style="margin: 1% 1% 1% 1%"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-secondary" style="margin: 0 0 0 0"><i class="fa fa-trash"></i></button>
      </td>
    </tr>
    </tbody>
  </table>

  <aut-pagination current-page.bind="currentPage" page-size.bind="pageSize" total-items.bind="totalItems">
    <template replace-part="pagination">
      <ul class="custom-pagination" hide.bind="hideSinglePage && totalPages === 1">
        <li>
          <a aria-label="Previous" click.delegate="previousPage()"
             class-name.bind="currentPage === 1 ? 'disabled' : ''">
            <span aria-hidden="true">«</span>
          </a>
        </li>

        <li repeat.for="page of displayPages">
          <a click.delegate="selectPage(page.value)" class-name.bind="currentPage === page.value ? 'active' : ''">
            ${page.title}
          </a>
        </li>

        <li>
          <a aria-label="Next" click.delegate="nextPage()"
             class-name.bind="currentPage === totalPages ? 'disabled' : ''">
            <span aria-hidden="true">»</span>
          </a>
        </li>
      </ul>
    </template>
  </aut-pagination>

  <div class="modal fade" id="addContact" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">ADD CONTACT</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form role="form" submit.delegate="submitData()">
            <div class="form-group">
              <label for="company">Company name</label>
              <input type="text" value.bind="company" class="form-control">
            </div>
            <div class="form-group">
              <label for="code">Company code</label>
              <input type="text" value.bind="code" class="form-control">
            </div>
            <div class="form-group">
              <label for="active">Status</label>
              <input type="text" value.bind="active" class="form-control">
            </div>
            <div class="form-group">
              <label for="address">Address</label>
              <input type="text" value.bind="address" class="form-control">
            </div>
            <div class="form-group">
              <label for="city">City</label>
              <input type="text" value.bind="city" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>


  <div class="modal fade" id="detailedCompany" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">${selectedCompanyName}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul>
            <li>Company code: ${selectedRegistryCode}</li>
            <li>Status: ${selectedCompanyStatus}</li>
            <li>Address: ${selectedCompanyAddress}</li>
            <li>Business model: ${selectedCompanyBusinessModel}</li>
            <li>Sector: ${selectedCompanySector}</li>
            <li>Number of employees: ${selectedCompanyEmployeeCount}</li>
            <li>Contact email: ${selectedCompanyContactEmail}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>
