.detailed-view-modal__profile-image {
  width: 300px;
  object-fit: cover;
}

.aff-manager__detailed-modal-view {
  position: relative;
  overflow-y: auto;
  max-height: 400px;

}

.aff-manage__modal-dialog {

  width: 1250px;
  margin: auto !important;
}
