<template>
  <div class="aff-become-partner-img-area">
    <img
      class="aff-become-partner-img-area--img"
      src="../../../assets/become-partner-background.png"
      alt="affiliate-life"
    >
  </div>
  <div class="aff-become-partner-content">
    <div class="col-lg-10 mx-auto mt-n5">
      <button
        click.trigger="becomeAffPartner()"
        type="button"
        class="aff-button aff-button__large mx-auto mt-3">
        JOIN FOR FREE
      </button>
      <div class="become-partner__motivator mt-4">
        <h4>
          <i>Start Earning More! Become Affiliate Partner Right Now</i>
        </h4>
      </div>
      <div class="become-partner__description my-5">
        <i>
          Affiliate Management is a program where an online seller can earn commission just by advertising the third
          party products on his website. Commission will be earned by publisher every time a user makes a purchase by visiting
          through affiliate product link. There is zero cost involvement in joining the affiliate program which makes it
          distinct, low risk and high reward marketing and sales strategy as compared to others.
        </i>
      </div>
    </div>
  </div>
</template>
