<template>
    <require from="../../../commons/workspaces-menu/workspace-favourite"></require>
    <div class="card">
        <div class="card-header">
            <h2 class="float-left">All Tasks</h2>
            <workspace-favourite class="float-left mx-2"></workspace-favourite>
            <button class="btn btn-primary float-left" click.delegate="handleAddTask()">
                <font-awesome-icon icon.bind="faPlus"></font-awesome-icon>
                New Task
            </button>
            <button
                class="btn btn-primary float-left"
                click.delegate="handleComplete()"
                disabled.bind="!tasksSelected"
            >
                <font-awesome-icon icon.bind="faCheck"></font-awesome-icon>
                Complete
            </button>
        </div>
        <div class="card-body">
            <vaadin-grid theme="compact row-stripes" column-reordering-allowed height-by-rows>
                <vaadin-grid-selection-column auto-select></vaadin-grid-selection-column>
                <vaadin-grid-column path="workEffortName" header="Task Name"></vaadin-grid-column>
                <vaadin-grid-column path="phaseName" header="Phase Name"></vaadin-grid-column>
                <vaadin-grid-column path="projectName" header="Project Name"></vaadin-grid-column>
                <vaadin-grid-column path="priority" header="Priority"></vaadin-grid-column>
                <vaadin-grid-column path="estimatedStartDate" header="Estimated Start Date"></vaadin-grid-column>
                <vaadin-grid-column path="estimatedCompletionDate" header="Estimated Completion Date"></vaadin-grid-column>
                <vaadin-grid-column path="statusId" header="Status"></vaadin-grid-column>
                <vaadin-grid-column path="partyId" header="Party Id"></vaadin-grid-column>
                <vaadin-grid-column path="roleTypeId" header="Role"></vaadin-grid-column>
            </vaadin-grid>
        </div>
    </div>
</template>
