<template>
  <require from="../../../css/crm1.css"></require>
<require from="../common/addClientPopUp"></require>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="container">
    <div class="mt-3 d-flex flex-row">
      <div class="m-1 sticky-top">
        <button type="button" class="btn btn-success">Create <i class="fa fa-plus-square" data-toggle="modal" data-target=".bd-example-modal-lg"></i></button>
      </div>
      <div class="m-1 sticky-top">
        <button type="button" class="btn btn-info" click.delegate="toggleView()">${view}</button>
      </div>
    </div>
    <div if.bind="simpleView" class="container">
      <div class="m-2 d-flex justify-content-around flex-wrap">
        <div repeat.for="contact of contacts" >
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../img/avatar.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">${contact.firstName} ${contact.lastName}</h5>
              <h5 class="card-title">Works For: ${contact.companyName}</h5>
              <button class="btn btn-info" click.delegate="getClientInformation(contact)">Detail Information</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div else class="container">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Phone</th>
          <th scope="col">Email</th>
          <th scope="col">Company</th>
        </tr>
        </thead>
        <tbody>
        <tr repeat.for="contact of contacts">
          <td>${contact.firstName} ${contact.lastName}</td>
          <td>${contact.phoneNumber}</td>
          <td>${contact.email}</td>
          <td >${contact.companyName}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <add-client-pop-up></add-client-pop-up>
      </div>
    </div>
  </div>
</template>
