<template>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="container">
    <div class="d-flex flex-row-reverse">
      <div class="sticky-top">
        <button type="button" class="btn btn-success"><i class="fa fa-plus-square" data-toggle="modal" data-target=".bd-example-modal-lg"></i></button>
      </div>
    </div>
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="card">
            <div class="card-header text-white bg-primary">
              <h3>Create new contact</h3>
            </div>
            <div class="card-body">
              <form role="form">
                <div class="form-group">
                  <label class="col-sm-3 col-form-label">First Name</label>
                  <div class="col-sm-9">
                    <input type="text" placeholder="First Name" class="form-control" value.bind="contact.firstName">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-3 col-form-label">Last Name</label>
                  <div class="col-sm-9">
                    <input type="text" placeholder="Last Name" class="form-control" value.bind="contact.lastName">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-3 col-form-label">E-mail</label>
                  <div class="col-sm-9">
                    <input type="text" placeholder="Email" class="form-control" value.bind="contact.email">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-3 col-form-label">Phone Number</label>
                  <div class="col-sm-9">
                    <input type="text" placeholder="Phone number" class="form-control" value.bind="contact.phoneNumber">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-3 col-form-label">Company</label>
                  <div class="col-sm-9">
                    <input type="text" placeholder="Company Name" class="form-control" value.bind="contact.companyName">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-3 col-form-label">Position</label>
                  <div class="col-sm-9">
                    <input type="text" placeholder="Position" class="form-control" value.bind="contact.position">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-3 col-form-label">Company Address</label>
                  <div class="col-sm-9">
                    <input type="text" placeholder="Company Address" class="form-control" value.bind="contact.companyAddress">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-3 col-form-label">Company Post Index</label>
                  <div class="col-sm-9">
                    <input type="text" placeholder="Address Index" class="form-control" value.bind="contact.postalCode">
                  </div>
                </div>
              </form>
              <div>
                <button class="btn btn-success float-right" click.delegate="addContact(contact)">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-around flex-wrap">
      <div repeat.for="contact of contacts" >
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../img/avatar.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">${contact.firstName} ${contact.lastName}</h5>
            <h5 class="card-title">Works For: ${contact.CompanyName}</h5>
            <button class="btn btn-info" click.delegate="getClientInformation(contact)">Detail Information</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
