<template>
  <require from="../../styles/scss/about.css"></require>
  <img class="top-img" src="../../assets/about-header.png" alt="affiliate-life">
  <div class="col-sm-9 mx-auto text-center">
    <h2 class="mt-3">What is Affiliate Marketing?</h2>
    <i>Affiliate marketing is the process of earning a commission by promoting other people’s
      (or company’s) products. You find a product you like, promote it to others and earn a piece of
      the profit for each sale that you make.</i>
    <h2 class="my-4">How does It work?</h2>
    <img class="diagram-img mx-auto" src="../../assets/affiliate-diagram.png" alt="affiliate-life">
  </div>
</template>
  
