html, body {
  height: 100%;
}

.header {
  background-color: #009688;
  height: 50px;
}

.wrapper {
  display: flex;
  height: 100%;
}

#sidebar {
  min-width: 250px;
  max-width: 400px;
  height: 100%;
  background: #1D2125;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar ul li {
  color: white;
  padding: 10px;
  display: block;
}

.sidebar-navigation {
  transition: 0.3s all;
}
.sidebar-navigation:hover {
  background: #242F32;
  cursor: pointer;
}

.navbar-toggler {
  width: 50px;
  margin-right: 15px;
  outline: 0 !important;
}

.menu-toggler {
  margin-top: 0;
  border-radius: 20px;
  transition: 0.3s all;
}

.menu-toggler:hover {
  background: #242F32;
  opacity: 0.5;
}

.avatar-wrapper {
  background: #242F32;
}

.avatar-area {
  background: transparent;
  border: 0;
}

.user-picture {
  border-radius: 60px;
  max-width: 100px;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    flex-direction: column-reverse;
  }

  #sidebar.active {
    margin-left: -400px;
  }

}
