<template>
  <div class="row mt-4">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Phone number</th>
          <th scope="col">E-mail address</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <tr repeat.for="agent of agents">
          <td>${agent.name}</td>
          <td>${agent.telecomNumber}</td>
          <td>${agent.emailAddress}</td>
          <td>
            <a href="#">Edit</a> |
            <!-- <a route-href="route: opportunity-edit; params.bind: { opportunity: opportunity }">Edit</a> | -->
            <a href="#">Delete</a>
            <!-- <a click.delegate="deleteOpportunity(opportunity.id)">Delete</a> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
