<template>
  <require from="../../../styles/scss/becomePartner.css"></require>
  <div class="become-partner--wrapper">
    <img class="become-partner--background" src="../../../assets/become-partner-background.png" alt="affiliate-life">
  </div>
  <div class="become-partner--sumbit__wrapper">
    <div class="col text-center px-0">
      <div class="become-partner--submit mx-auto text-white d-flex justify-content-center align-items-center">
        <h3>JOIN FOR FREE</h3>
      </div>
      <div class="become-partner--sumbit__motivator">
        <h4>
          <i>Start Earning More! Become Affiliate Partner Right Now</i>
        </h4>
      </div>
      <div class="become-partner--text col-10 text-center mx-auto">
        <i>
          Affiliate Management is a program where an online seller can earn commission just by advertising the third
          party products on his website. Commission will be earned by publisher every time a user makes a purchase by visiting
          through affiliate product link. There is zero cost involvement in joining the affiliate program which makes it
          distinct, low risk and high reward marketing and sales strategy as compared to others.
        </i>
      </div>
    </div>
  </div>
</template>
