<template>
  <require from="../../../css/crm1.css"></require>

  <div class="card m-0 rounded-0" onclick="">

    <div class="panel-group">
      <div class="panel panel-default m-0 p-2">
        <div class="panel-heading">
          <h6 class="panel-title">
            <a class="text-decoration-none" data-toggle="collapse" href=${value2}>Category</a>
          </h6>
        </div>
        <div id=${value1} class="panel-collapse collapse">
          <ul class="list-group">
            <li class="list-group-item p-0">One</li>
            <li class="list-group-item p-0">Two</li>
            <li class="list-group-item p-0">Three</li>
          </ul>
<!--          <div class="panel-footer">Footer</div>-->
        </div>
      </div>
    </div>


  </div>
</template>
