<template>
  <require from="../../../css/crm1.css"></require>
  <require from="../common/categoryElement"></require>
  <require from="../common/add"></require>

    <div class="card shadow-sm">
      <div class="card-header p-0">
        <h6 class="m-0 text-center" style="height: 22px">Categories</h6>
      </div>
      <div class="scrollbar scrollbar-primary m-0">
        <div class="force-overflow"></div>

      <ul class="list-group list-group-flush " id="allPanels" style="max-height: 84vh;">

        <div class="card  m-0 rounded-0">
          <div class="m-0 p-2 rounded-pill">
            <div class="panel-heading">
              <div class="panel-title">
                <a class="text-decoration-none pointer canHover" click.delegate="unfilteredCustomers()" data-toggle="collapse"  href="#all">
                  <div class="category" >All customers</div></a>
              </div>
            </div>
            <div id="all" class="panel-collapse collapse hide" data-parent="#allPanels">
            </div>
          </div>
        </div>


          <div class="card  m-0 rounded-0">
              <div class="m-0 p-2 rounded-pill">
                <div class="panel-heading">
                  <div class="panel-title">
                    <a class="text-decoration-none pointer canHover" data-toggle="collapse"  href="#byHandle"><div class="category">By handle</div></a>
                  </div>
                </div>
                <div id="byHandle" class="panel-collapse collapse hide" data-parent="#allPanels">
                  <label class="m-0 mt-3">
                    <input type="text" class="form-control rounded-pill" placeholder="Enter handle..." value.bind="partySearchInput"  style="height: 26px;">
                  </label>

                  <div repeat.for="party of filteredParties" class="entry pointer rounded p-0 pl-3 py-2" click.delegate="filterByParty(party)">
                    ${capitalizeFirstLetter(party)}
                  </div>
                </div>
              </div>
          </div>


          <div class="card  m-0 rounded-0">
            <div class="m-0 p-2 rounded-pill">
              <div class="panel-heading">
                <div class="panel-title">
                  <a class="text-decoration-none pointer canHover" data-toggle="collapse"  href="#byCompany"><div class="category">By company</div></a>
                </div>
              </div>
              <div id="byCompany" class="panel-collapse collapse hide" data-parent="#allPanels">
                <label class="m-0 mt-3">
                  <input type="text" class="form-control rounded-pill" placeholder="Enter company..." value.bind="companySearchInput"  style="height: 26px;">
                </label>

                <div repeat.for="company of getCompanies" class="entry pointer rounded p-0 pl-3 py-2" click.delegate="filterByCompany(company)">
                  ${capitalizeFirstLetter(company)}
                </div>
              </div>
            </div>
          </div>

          <div class="card  m-0 rounded-0">
            <div class="m-0 p-2 rounded-pill">
              <div class="panel-heading">
                <h6 class="panel-title">
                  <a class="text-decoration-none pointer canHover" data-toggle="collapse"  href="#byName"><div class="category">By name</div></a>
                </h6>
              </div>
              <div id="byName" class="panel-collapse collapse hide" data-parent="#allPanels" >
                <label class="m-0 mt-2">
                  <input type="text" class="form-control rounded-pill" placeholder="Enter name..." value.bind="nameSearchInput"  style="height: 26px;">
                </label>

                <div class="container px-1 rounded">
                <label class="btn p-0 m-0">
                  <input type="checkbox" class="hugeInput" checked.bind="includeFirstName" autocomplete="off"> <b>First name</b>
                </label>
                <label class="btn p-0 m-0">
                  <input type="checkbox" class="hugeInput" checked.bind="includeLastName" autocomplete="off"> <b>Last name</b>
                </label>
                </div>

                <div repeat.for="name of names" class="entry pointer rounded p-0 pl-3 py-2" click.delegate="filterByName(name)">
                  ${capitalizeFirstLetter(name)}
                </div>
              </div>
            </div>
          </div>

      </ul>
      </div>
    </div>
  </div>
</template>
