<template>
  <require from="../../../css/crm1.css"></require>
  <require from="../common/categoryElement"></require>
  <require from="../common/add"></require>

    <div class="card shadow-sm">
      <div class="card-header p-0">
        <h6 class="m-0 text-center">Categories <add></add></h6>
      </div>
      <div class="scrollbar scrollbar-primary m-0">
        <div class="force-overflow"></div>

      <ul class="list-group list-group-flush" id="group" style="max-height: 74vh;">
        <div repeat.for="category of categories">

            <div class="card m-0 rounded-0" onclick="">

              <div class="panel-group">
                <div class="panel panel-default m-0 p-2">
                  <div class="panel-heading">
                    <h6 class="panel-title">
                      <a class="text-decoration-none" data-toggle="collapse"  href="#${category.value}">Category</a>
                    </h6>
                  </div>
                  <div id="${category.value}" class="panel-collapse collapse ">
                    <ul class="list-group">
                      <li class="list-group-item p-0">One</li>
                      <li class="list-group-item p-0">Two</li>
                      <li class="list-group-item p-0">Three</li>
                    </ul>
                    <!--          <div class="panel-footer">Footer</div>-->
                  </div>
                </div>
              </div>
          </div>
        </div>

      </ul>
      </div>
    </div>
  </div>
</template>
