<template>
  <require from="../../../css/crm1.css"></require>
  <li  class="list-group-item p-0" style="text-align: left">
    <div class="card m-0">

      <div class="row no-gutters rounded shadow">

          <img src="../img/avatar.png" class="card-img d-inline-block"
               style="width: 60px; height: 60px; border-radius: 50%" alt="...">

          <div class="card-body no-gutters p-0">
            <div class="card-title no-gutters text-sm-center text-md-left pt-2 pl-2 m-0 d-inline-block">
              <h6 >Maksim </h6>
              <h6>Bronnikov</h6>
            </div>
          </div>
        </div>

    </div>
  </li>
</template>
