<template>
    <require from="../../../css/crm1.css"></require>

  <div class="card-header">
    Clients
  </div>
  <ul class="list-group list-group-flush">
    <li  class="list-group-item">
      <div class="row no-gutters">
        <div class="col-md-4 m-auto">
          <img src="../img/avatar.png" class="card-img"
               style="width: 60px; height: 60px; background-color: rgba(0,0,255,0.1);" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 >CLIENT NAME</h5>
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item"><div class="row no-gutters">
      <div class="col-md-4 m-auto">
        <img src="../img/avatar.png" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 >CLIENT NAME</h5>
        </div>
      </div>
    </div>
    </li>
  </ul>
</template>
