<template>
  <require from="../../../css/crm1.css"></require>
  <li  class="list-group-item p-0 text-left">
    <div class="card rounded-0 m-0">

      <div class="row no-gutters">
        <div class="col-5">
          <img src="../img/avatar.png" class="card-img d-inline-block m-0 mx-3"
               style="width: 60px; height: 60px; border-radius: 50%" alt="...">
        </div>
        <div class="col-7">
          <div class="card-body no-gutters text-sm-center text-md-left p-0 pt-2 m-0 d-inline-block text-truncate">
                <h6 class="text-truncate"><slot name="firstName"></slot></h6>
                <h6 class="text-truncate"><slot name="lastName"></slot></h6>
            </div>
          </div>
      </div>

    </div>
  </li>
</template>
