<template>
  <require from="../../general/page-title/affPageTitle"></require>
  <require from="../../general/filter/affFilter"></require>
  <require from="../../general/icons/eye/eyeIcon"></require>
  <require from="../../general/icons/affIcon"></require>

  <div class="row flex-column mx-3 text-center mt-5">
    <div class="col-md-9 mx-auto">
      <aff-page-title
        main-text.one-way="'This is an overview of all the partners that belong to your multilevel-program'">
      </aff-page-title>
    </div>
    <div class="col-md-9 mx-auto my-3">
      </aff-filter>

      <aff-filter
        values-to-filter.one-way="allTopPartnes"
        options.one-way="topPartnersOptions"
        callback.call="setFilteredTopPartners($event)"
        id.one-way="'Member-Top-Partners'"
      >
      </aff-filter>
    </div>
    <div class="col-md-9 mx-auto table-responsive-md text-center">
      <table class="table table-striped table-dark table-bordered table-hover">
        <thead>
        <tr>
          <th scope="col">Place</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Partner Since</th>
          <th scope="col">Commission Total</th>
          <th scope="col">Partners Invited</th>
        </tr>
        </thead>
        <tbody>
        <tr class="aff-member-table__row" repeat.for="topPartner of filteredTopPartners">
          <td class="align-middle">
            <p>${topPartner['place']}</p>
          </td>
          <td class="align-middle">
            <p>${topPartner['first-name']}</p>
          </td>
          <td class="align-middle">
            <p>${topPartner['last-name']}</p>
          </td>
          <td class="align-middle">
            <p>${topPartner['email']}</p>
          </td>
          <td class="align-middle">
            <p>${topPartner['partner-since']}</p>
          </td>
          <td class="align-middle">
            <p>${topPartner['commission-total']}</p>
          </td>
          <td class="align-middle">
            <p>${topPartner['partners-invited']}</p>
          </td>
          <td class="aff-table__action-icon">
            <aff-icon class="mt-n2">
              <eye-icon></eye-icon>
            </aff-icon>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
