<template>
  <require from="../../icons/info/infoIcon"></require>
  <require from="../../icons/diamond/diamondIcon"></require>
  <require from="../../icons/handshake/handshakeIcon"></require>
  <li class="sidebar-navigation"
      class.bind="current === 'Become-partner'? 'avatar-wrapper' : ''"
      click.trigger="navigateTo('Become-partner')">
    <handshake-icon></handshake-icon>
    <h6 class="d-inline">Become Partner</h6>
  </li>
  <li class="sidebar-navigation"
      class.bind="current === 'About'? 'avatar-wrapper' : ''"
      click.trigger="navigateTo('About')">
    <info-icon></info-icon>
    <h6 class="d-inline">About</h6>
  </li>
  <li class="sidebar-navigation"
      class.bind="current === 'Top-partners'? 'avatar-wrapper' : ''"
      click.trigger="navigateTo('Top-partners')">
    <diamond-icon></diamond-icon>
    <h6 class="d-inline">Top Partners</h6>
  </li>
</template>
