body { padding-top: 0px; }

section {
  margin: 0 20px;
}

a:focus {
  outline: none;
}

.navbar-nav li.loader {
    margin: 12px 24px 0 6px;
}

.no-selection {
  margin: 20px;
}

.contact-list {
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
}

.panel {
  margin: 20px;
}

.button-bar {
  right: 0;
  left: 0;
  bottom: 0;
  border-top: 1px solid #ddd;
  background: white;
}

.button-bar > button {
  float: right;
  margin: 20px;
}

li.list-group-item {
  list-style: none;
}

li.list-group-item > a {
  text-decoration: none;
}

li.list-group-item.active > a {
  color: white;
}

.bg-purple {
  background-color: #744662 !important;
  color: white !important;
}

.icon {
  width: 60px;
  height: 60px;
}

.icon-wrapper {
  font-size: 12px;
  text-shadow: 2px 2px #444444;
  overflow: hidden;
  width: 80px;
  height: 80px;
  background: linear-gradient(to bottom, white 0%,#744662 75%,#444444 76%,#444444 100%);
  background-color: #dddddd !important;
}

.dropdown-menu {
  width: 266px;
  background: linear-gradient(#744662, #dddddd);
  background-color: #ababab !important;
}

button-icon {
  cursor: pointer
}
