.icon {
  width: 60px;
  height: 60px;
}

.icon-wrapper {
  font-size: 12px;
  text-shadow: 2px 2px #444444;
  overflow: hidden;
  width: 80px;
  height: 80px;
  background: linear-gradient(to bottom, white 0%, #744662 75%, #444444 76%, #444444 100%);
  background-color: #dddddd !important;
}

.dropdown-menu {
  width: 266px;
  background: linear-gradient(#744662, #dddddd);
  background-color: #ababab !important;
}

button-icon {
  cursor: pointer
}
