<template>
  <require from="../../general/icons/cogs/settingsIcon"></require>
  <require from="../../general/icons/approve/approveIcon"></require>
  <require from="../../general/icons/addressBook/addressBookIcon"></require>
  <require from="../../general/sidebar/sidebarUserInfo/sidebarUserInfo"></require>
  <require from="../../general/icons/menu/menuIcon"></require>
  <require from="../../general/icons/icon"></require>
  <div class="row h-100 flex-nowrap">
    <div class="col-10 aff-sidebar-container px-0" class.bind="opened? 'aff-sidebar-container--closed': ''">
      <div class="row w-100 aff-sidebar mx-0">
        <div class="col aff-sidebar__col aff-sidebar__col--user-info">
          <sidebar-user-info></sidebar-user-info>
        </div>
        <div
          class="col aff-sidebar__col"
          class.bind="current === 'Affiliates'? 'aff-sidebar__menu-element--active' : ''"
          click.trigger="navigateTo('Affiliates')">
          <icon
            icon-label.bind="`Affiliates`">
            <address-book-icon></address-book-icon>
          </icon>
        </div>
        <div
          class="col aff-sidebar__col"
          class.bind="current === 'Approve-affiliates'? 'aff-sidebar__menu-element--active' : ''"
          click.trigger="navigateTo('Approve-affiliates')">
          <icon
            icon-label.bind="`Approve`">
            <approve-icon></approve-icon>
          </icon>
        </div>
        <div
          class="col aff-sidebar__col"
          class.bind="current === 'Global-Settings'? 'aff-sidebar__menu-element--active' : ''"
          click.trigger="navigateTo('Global-Settings')">
          <icon
            icon-label.bind="`Global Settings`">
            <settings-icon></settings-icon>
          </icon>
        </div>
      </div>
    </div>
    <div class="col-2 m-3 aff-sidebar__invoke-button">
      <icon click.trigger="slide()">
        <menu-icon></menu-icon>
      </icon>
    </div>
  </div>
</template>
