<template>
  <require from="../../general/icons/cogs/settingsIcon"></require>
  <require from="../../general/icons/approve/approveIcon"></require>
  <require from="../../general/icons/addressBook/addressBookIcon"></require>
  <nav class="aff-sidebar" class.bind="opened ? 'active' : ''">
    <ul class="px-0">
      <aff-sidebar-user-info></aff-sidebar-user-info>
      <li class="aff-sidebar__menu-element"
          class.bind="current === 'Affiliates'? 'aff-sidebar__menu-element--active' : ''"
          click.trigger="navigateTo('Affiliates')">
        <address-book-icon></address-book-icon>
        <h6>Affiliates</h6>
      </li>
      <li class="aff-sidebar__menu-element"
          class.bind="current === 'About'? 'aff-sidebar__menu-element--active' : ''"
          click.trigger="navigateTo('About')">
        <approve-icon></approve-icon>
        <h6>Approve</h6>
      </li>
      <li class="aff-sidebar__menu-element"
          class.bind="current === 'Top-partners'? 'aff-sidebar__menu-element--active' : ''"
          click.trigger="navigateTo('Top-partners')">
        <settings-icon></settings-icon>
        <h6>Global Settings</h6>
      </li>
    </ul>
  </nav>
</template>
