<template>
  <require from="../../../css/complexView.css"></require>

  <require from="../common/categories"></require>
  <require from="../common/clients"></require>
  <require from="../common/activeClient"></require>
  <require from="../common/history"></require>
  <require from="../common/activity"></require>

  <div class="bg">
    <div class="d-flex flex-wrap">

      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 p-1">
        <!--Categories-->
        <categories></categories>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 p-1">
        <!--Clients-->
        <clients></clients>
      </div>


      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 p-1">
        <div if.bind="displayClient">
          <!--ActiveClient-->
          <active-client></active-client>
        </div>
        <div if.bind="!displayClient">
        </div>
      </div>


      <div class="col p-1">

        <div if.bind="displayActivity">
          <!--Activity-->
          <activity></activity>
        </div>

        <div if.bind="!displayActivity">
          <div class="row p-0 m-0">
            <div class="col-7 p-1">
            </div>
            <div class="col-5 p-1">
              <!--Activity history-->
              <history></history>
            </div>
          </div>
        </div>

      </div>
  </div>
  </div>
</template>


