<template>
  <require from="../../../css/complexView.css"></require>

  <require from="../common/categories"></require>
  <require from="../common/clients"></require>
  <require from="../common/activeClient"></require>
  <require from="../common/history"></require>
  <require from="../common/activity"></require>

  <div class="bg">
    <div class="d-flex flex-wrap">

      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 p-1">
        <!--Categories-->
        <categories></categories>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 p-1">
        <!--Clients-->
        <clients></clients>
      </div>


      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 p-1">
        <div if.bind="displayClient">
          <!--ActiveClient-->
          <active-client></active-client>
        </div>
      </div>


      <template if.bind="displayActivity">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-1">
          <!--Activity-->
          <activity></activity>
        </div>
      </template>

      <template if.bind="!displayActivity">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-3 p-1 m-0">
          <!--Create space-->
        </div>
        <div class="col-xs-11 col-sm-5 col-md-2 col-lg-3 p-1 m-0">
          <!--Activity history-->
          <history></history>
        </div>
      </template>





    </div>
  </div>
</template>


