@import "src/affiliate-manager/assets/scss/variables";

html, body {
  height: 100%;
  background: $background-color;
  overflow-x: hidden;
}

.aff-sidebar-area {
  transition: 0.5s ease;
  z-index: 2;
  position: fixed;
  top: $header-height;
  bottom: 0;
  max-width: $sidebar-width;
  min-width: $sidebar-width;
}

.aff-sidebar-sidebar-area--closed {
  margin-left: -296px;
}
