<template>
  <require from="aurelia-kendoui-bridge/grid/grid"></require>
  <require from="aurelia-kendoui-bridge/grid/col"></require>
  <require from="aurelia-kendoui-bridge/grid/grid-toolbar"></require>
  <require from="aurelia-kendoui-bridge/common/template"></require>

  <div class="card">
    <div class="card-header text-white bg-primary">Resource Dashboard</div>
    <div class="card-body">

      <ak-grid k-data-source.bind="datasource">
        <ak-grid-toolbar>
          <ak-template>
            <button
              class="btn btn-primary btn-lg float-right rounded-pill"
              click.delegate="handleAddResource()"
            >
              Create Resource
            </button>
          </ak-template>
        </ak-grid-toolbar>
        <ak-col k-title="Party Id" k-field="partyId"></ak-col>
      </ak-grid>
    </div>
  </div>
</template>
