<template>
  <div class="card">
    <div class="card-header">
      <h2 class="float-left mr-4">All Resources</h2>
      <button class="btn btn-primary float-left" click.delegate="handleAddResource()">
        <font-awesome-icon icon.bind="faPlus"></font-awesome-icon>
        New Resource
      </button>
    </div>
    <div class="card-body">
      <vaadin-grid theme="compact row-stripes" column-reordering-allowed multi-sort height-by-rows>
        <vaadin-grid-column path="firstName" header="First Name"></vaadin-grid-column>
        <vaadin-grid-column path="lastName" header="Last Name"></vaadin-grid-column>
        <vaadin-grid-column path="partyId" header="Party ID"></vaadin-grid-column>
      </vaadin-grid>
    </div>
  </div>
</template>
