<template>
  <div class="row">
    <div class="col-4" reorderable-group-for.bind="store.newOpp">
      <div class="row-4 mb-4">
        <h4>New</h4>
      </div>
  <div class="list-group-item-secondary rounded border-primary p-2 m-1 kanban-card" reorderable-repeat.for="opportunity of store.newOpp"
        reorderable-after-reordering="newOrdered" reorderable-group="lifes">
        <div class="row">
          <div class="col">
            <h5>${opportunity.name}</h5>
          </div>
          <div class="col text-right">
            <a style="text-decoration: none" route-href="route: opportunity-edit; params.bind: { opportunity: opportunity}">
              <img src="../../../assets/img/edit.svg" alt="edit">
            </a>
            <a>
              <img style="cursor: pointer" src="../../../assets/img/delete.svg" alt="delete" click.delegate="deleteNewOpportunity($index, opportunity.opportunityId)">
            </a>
          </div>
        </div>
        <div>${opportunity.description}</div>
        <div>${opportunity.price}€</div>
      </div>
    </div>
    <div class="col-4" reorderable-group-for.bind="store.propositionOpp">
      <div class="row-4 mb-4">
        <h4>Proposition</h4>
      </div>
      <div class="list-group-item-primary rounded border-primary p-2 m-1 kanban-card"
        reorderable-repeat.for="opportunity of store.propositionOpp" reorderable-after-reordering="propositionOrdered"
        reorderable-group="lifes">
        <div>
          <div class="row">
            <div class="col">
              <h5>${opportunity.name}</h5>
            </div>
            <div class="col text-right">
              <a style="text-decoration: none" route-href="route: opportunity-edit; params.bind: { opportunity: opportunity}">
                <img src="../../../assets/img/edit.svg" alt="edit">
              </a>
              <img style="cursor: pointer" src="../../../assets/img/delete.svg" alt="delete" click.delegate="deletePropositionOpportunity($index, opportunity.opportunityId)">
            </div>
          </div>
        </div>
        <div>${opportunity.description}</div>
        <div>${opportunity.price}€</div>
      </div>
    </div>
    <div class="col-4" reorderable-group-for.bind="store.wonOpp">
      <div class="row-4 mb-4">
        <h4>Won</h4>
      </div>
      <div class="list-group-item-success rounded border-primary p-2 m-1 kanban-card" reorderable-repeat.for="opportunity of store.wonOpp"
        reorderable-after-reordering="wonOrdered" reorderable-group="lifes">
        <div class="row">
          <div class="col">
            <h5>${opportunity.name}</h5>
          </div>
          <div class="col text-right">
            <a route-href="route: opportunity-edit; params.bind: { opportunity: opportunity}">
              <img style="text-decoration: none" src="../../../assets/img/edit.svg" style="text-decoration: none" alt="edit">
            </a>
            <a style="cursor: pointer">
              <img style="cursor: pointer" src="../../../assets/img/delete.svg" alt="delete" click.delegate="deleteWonOpportunity(opportunity.opportunityId, $index)">
            </a>
          </div>
        </div>
        <div>${opportunity.description}</div>
        <div>${opportunity.price}€</div>
      </div>
    </div>
  </div>
</template>
