<template>
  <div class="row flex-column">
    <div class="col">
      <img class="aff-about-top-img" src="../../../assets/images/about-header.png" alt="affiliate-life">
    </div>
    <div class="col-md-8 mx-auto text-center">
      <h2 class="mt-3">What is Affiliate Marketing?</h2>
      <p>Affiliate marketing is the process of earning a commission by promoting other people’s
        (or company’s) products. You find a product you like, promote it to others and earn a piece of
        the profit for each sale that you make.</p>
      <h2 class="my-4">How does It work?</h2>
      <img class="aff-about-diagram-img mx-auto" src="../../../assets/images/affiliate-diagram.png" alt="affiliate-life">
    </div>
  </div>
</template>

