<template>
  <require from="../../../css/crm1.css"></require>
  <require from="../common/addClientPopUp"></require>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">

  <div class="container-fluid" style="border-bottom: 1px solid gray;">
    <br>
    <h3>Bills</h3>
    <div class="mt-3 d-flex flex-row">
      <div class="helpers" style="margin-top: -45px;margin-bottom: 20px">
        <div class="dropdown">
          <a class="btn btn-outline-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-filter"></i> Filters</a>
          <a class="btn btn-outline-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-columns"></i> Group by</a>
          <a class="btn btn-outline-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-star"></i> Favorites</a>




          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="container-fluid" >

    <table class="table" >

      <thead>
      <tr >
        <th scope="col">Bill ID</th>
        <th scope="col">Bill Type</th>
        <th scope="col">Bill Date</th>
        <th scope="col">Description</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total</th>


        <th scope="col">
          <div class="dropdown">
            <a class="btn btn-outline-dark" style="border: none;" href="#" role="button" id="checkDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v"></i></a>
            <form>

              <div class="dropdown-menu" style="margin-right: 200px;" aria-labelledby="checkDropDown">

                <p class="dropdown-item"  >
                  <input type="checkbox" value.bind="product" checked.bind="selectedPhone" checked="checked">
                  KEK</p>

                <p class="dropdown-item"  >
                  <input type="checkbox" value.bind="prod" checked.bind="selectedEmail" checked="checked">
                  LOL</p>

                <p class="dropdown-item"  >
                  <input type="checkbox" value.bind="prod" checked.bind="selectedEmail" checked="checked">
                  LOL KEK</p>


              </div>
            </form>
          </div>
        </th>
      </tr>
      </thead>

      <tbody>
    <!--WTF IS GOING ON HERE , WRAPPED ALL -->
      <tr repeat.for="bill of bills">
        <td>${bill.itemDescription}</td>
        <td>${bill.invoiceDate}</td>
        <td>${bill.partyIdTrans}</td>
        <td>${bill.invoiceTypeId}</td>
        <td>${bill.partyIdFrom}</td>
        <td>${bill.amount}</td>
        <td>${bill.invoiceId}</td>
        <td>${bill.quantity}</td>
        <td></td>

      </tr>
      </tbody>
    </table>

  </div>










  <add-client-pop-up ></add-client-pop-up>


</template>
