<template>
  <require from="../../../css/crm1.css"></require>
  <require from="../common/modals/billPopUp"></require>

  <div class="container-fluid">
    <div class="mt-3 d-flex flex-row">
      <div class="col-md-3 d-flex justify-content-start">
        <h3 class="m-1">Bills</h3>
      </div>
      <div class="col-md-6">
        <div class="m-1 helpers">
          <input class="input_inside" type="text"  value.bind="searchArgument" placeholder="    Search Bills...">
        </div>
      </div>
      <div class="col-md-3 d-flex flex-row" >
        <div class="dropdown m-1">
          <a class="btn btn-outline-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-filter"></i> Filters</a>

          <div class="dropdown-menu filter" aria-labelledby="dropdownMenuLink" >
            <h5 class="ml-3">Select filters:</h5>
            <label class="btn p-0 ml-3">
              <input type="checkbox" class="hugeInput" checked.bind="includeFirstName" autocomplete="off"> <b>First name</b>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" >
    <table class="table" >
      <thead>
      <tr>
        <th scope="col">Bill ID</th>
        <th scope="col">Bill Type</th>
        <th scope="col">Bill Date</th>
        <th scope="col">${selectedDesc}</th>
        <th scope="col">${selectedFr}</th>
        <th scope="col">${selectedTo}</th>
        <th scope="col">${selectedQa}</th>
        <th scope="col">${selectedTt}</th>
        <th scope="col">
          <div class="dropdown">
            <a class="btn btn-outline-dark" style="border: none;" href="#" role="button" id="checkDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-ellipsis-v"></i></a>
            <form>
              <div repeat.for="product of categories">
              <div class="dropdown-menu" style="margin-right: 200px;" aria-labelledby="checkDropDown">

                <p class="dropdown-item"  >
                <input type="checkbox" value.bind="product.description" checked.bind="selectedDesc" >
                ${product.description}</p>
                <p class="dropdown-item"  >
                <input type="checkbox" value.bind="product.from" checked.bind="selectedFr">
                ${product.from}</p>
                <p class="dropdown-item"  >
                <input type="checkbox" value.bind="product.to" checked.bind="selectedTo">
                ${product.to}</p>
                <p class="dropdown-item"  >
                <input type="checkbox" value.bind="product.quantity" checked.bind="selectedQa">
                ${product.quantity}</p>
                <p class="dropdown-item"  >
                <input type="checkbox" value.bind="product.total" checked.bind="selectedTt">
                ${product.total}</p>
                </div>
              </div>
            </form>
          </div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr repeat.for="bill of filteredBills" data-toggle="modal" data-target="#bill-modal" click.delegate="getBillInformation(bill)">
        <td>${bill.invoiceId}</td>
        <td>${bill.invoiceTypeId}</td>
        <td>${bill.invoiceDate}</td>
        <td if.bind="isDesc">${bill.itemDescription}</td>
        <td else></td>
        <td if.bind="isFrom">${bill.partyIdFrom}</td>
        <td else></td>
        <td if.bind="isTo">${bill.partyIdTrans}</td>
        <td else></td>
        <td if.bind="isQuality">${bill.quantity}</td>
        <td else></td>
        <td if.bind="isTotal">${bill.amount}€</td>
        <td else></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>

  <bill-pop-up ></bill-pop-up>

</template>
