<template>
  <span class="border">
    <div class="col-md-10 my-5 mx-auto">
      <div>
      <h3>${company}</h3>
      </div>
      <hr>
      <div class="mt-3">
        <h5>About</h5>
      </div>
      <div class="row-marketdata" display="table">
        <div class="column-marketdata">
            <dt class="font-weight-light" style="margin: 30px 0">REGISTRATION CODE</dt>
            <dt class="font-weight-light" style="margin: 30px 0">EMPLOYEE COUNT</dt>
        </div>
        <div class="column-marketdata">
            <dt class="font-weight-light" style="margin: 30px 0">ADDRESS</dt>
            <dt class="font-weight-light">STATUS</dt>
        </div>
        <div class="column-marketdata">
            <dt class="font-weight-light">SECTOR</dt>
        </div>
      </div>
      <div>
        <button class="btn btn-primary" style="margin: 1% 1% 1% 0%"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-secondary" style="margin: 0 0 0 0"><i class="fa fa-trash"></i></button>
      </div>
    </div>
  </span>
</template>
