<template>
  <require from="../../general/icons/cogs/settingsIcon"></require>
  <require from="../../general/icons/generate-code/generateCodeIcon"></require>
  <require from="../../general/icons/my-affiliates/myAffiliatesIcon"></require>
  <require from="../../general/icons/statistics/statisticsIcon"></require>
  <require from="../../general/icons/diamond/diamondIcon"></require>
  <require from="../../general/sidebar/sidebarUserInfo/sidebarUserInfo"></require>
  <require from="../../general/icons/menu/menuIcon"></require>
  <require from="../../general/icons/icon"></require>
  <div class="row h-100 flex-nowrap">
    <div class="col-10 aff-sidebar-container px-0" class.bind="opened? 'aff-sidebar-container--closed': ''">
      <div class="row w-100 aff-sidebar mx-0">
        <div class="col aff-sidebar__col aff-sidebar__col--user-info">
          <sidebar-user-info></sidebar-user-info>
        </div>
        <div
          class="col aff-sidebar__col"
          class.bind="currentPage === 'My-Affiliates'? 'aff-sidebar__menu-element--active' : ''"
          click.trigger="navigateTo('My-Affiliates')">
          <icon
            icon-label.bind="`My Affiliates`">
            <my-affiliates-icon></my-affiliates-icon>
          </icon>
        </div>
        <div
          class="col aff-sidebar__col"
          class.bind="currentPage === 'Generate-Code'? 'aff-sidebar__menu-element--active' : ''"
          click.trigger="navigateTo('Generate-Code')">
          <icon
            icon-label.bind="`Generate Code`">
            <generate-code-icon></generate-code-icon>
          </icon>
        </div>
        <div
          class="col aff-sidebar__col"
          class.bind="currentPage === 'Review'? 'aff-sidebar__menu-element--active' : ''"
          click.trigger="navigateTo('Review')">
          <icon
            icon-label.bind="`Review`">
            <statistics-icon></statistics-icon>
          </icon>
        </div>
        <div
          class="col aff-sidebar__col"
          class.bind="currentPage === 'Top-Partners'? 'aff-sidebar__menu-element--active' : ''"
          click.trigger="navigateTo('Top-Partners')">
          <icon
            icon-label.bind="`Top Partners`">
            <diamond-icon></diamond-icon>
          </icon>
        </div>
        <div
          class="col aff-sidebar__col"
          class.bind="currentPage === 'Settings'? 'aff-sidebar__menu-element--active' : ''"
          click.trigger="navigateTo('Settings')">
          <icon
            icon-label.bind="`Settings`">
            <settings-icon></settings-icon>
          </icon>
        </div>
      </div>
    </div>
    <div class="col-2 m-3 aff-sidebar__invoke-button">
      <icon click.trigger="slide()">
        <menu-icon></menu-icon>
      </icon>
    </div>
  </div>
</template>
